<!-- start/start.template.html -->
<div class="container" layout="column" layout-align="center center">
  <h1 class="md-display-2 text-center">Memorama</h1>
  <form  layout="column" layout-align="center center" >
    <md-input-container class="md-block">
      <label for="name">Nombre</label>
      <input type="text" id="name" ng-model="$ctrl.userName" required>
    </md-input-container>
    <md-input-container class="md-block">
      <label for="team">Equipo</label>
      <input type="text" id="team" ng-model="$ctrl.userTeam" required>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="$ctrl.startGame()">Comenzar</md-button>
  </form>
  <h2 class="md-display-1 text-center">Mejores Puntuaciones</h2>

  
  <div class="centered-table">
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Equipo</th>
          <th>Movimientos</th>
        </tr>
      </thead>
      <tbody>
        <!-- Datos dinámicos de la tabla -->
        <tr ng-repeat="score in $ctrl.topScores">
          <td>{{$index+1}}</td>
          <td>{{score.userName}}</td>
          <td>{{score.team}}</td>
          <td>{{score.moves}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
</div>
